@model Atendimentos.Models.ViewModels.AtendimentoViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" asp-for="Atendimento.Id" />
            <input type="hidden" asp-for="Atendimento.Data" />
            <input type="hidden" asp-for="Atendimento.HoraInicio" />
            <div class="form-group">
                <label asp-for="Atendimento.Revendedor" class="form-control-label"></label>
                <Select asp-for="Atendimento.RevendedorId" asp-items="@(new SelectList(Model.Revendedores,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Revendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Sistema" class="form-control-label"></label>
                <Select asp-for="Atendimento.SistemaId" asp-items="@(new SelectList(Model.Sistemas,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Sistema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Usuario" class="form-control-label"></label>
                <Select asp-for="Atendimento.UsuarioId" asp-items="@(new SelectList(Model.Usuarios,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Status" class="form-control-label"></label>
                <select asp-for="Atendimento.Status" asp-items="Html.GetEnumSelectList<Atendimentos.Models.Enums.AtendimentoStatus>()" class="form-control"></select>
                <span asp-validation-for="Atendimento.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Descrição" class="form-control-label"></label>
                <input asp-for="Atendimento.Descrição" class="form-control" />
                <span asp-validation-for="Atendimento.Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Solucao" class="form-control-label"></label>
                <input asp-for="Atendimento.Solucao" class="form-control" />
                <span asp-validation-for="Atendimento.Solucao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="answer" value="Save" class="btn btn-secondary" />
                <input type="submit" name="answer" value="Finalizar" class="btn btn-secondary" />

            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}