@model Atendimentos.Models.ViewModels.AtendimentoViewModel
@{
    ViewData["Title"] = "Incluir";
}
<h2>@ViewData["Title"]</h2>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Incluir">
            <div class="form-group">
                <label asp-for="Atendimento.Revendedor" class="form-control-label"></label>
                <Select asp-for="Atendimento.RevendedorId" asp-items="@(new SelectList(Model.Revendedores,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Revendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Sistema" class="form-control-label"></label>
                <Select asp-for="Atendimento.SistemaId" asp-items="@(new SelectList(Model.Sistemas,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Sistema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Usuario" class="form-control-label"></label>
                <Select asp-for="Atendimento.UsuarioId" asp-items="@(new SelectList(Model.Usuarios,"Id", "Nome"))" class="form-control"></Select>
                <span asp-validation-for="Atendimento.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Data" class="form-control-label"></label>
                <input asp-for="Atendimento.Data" class="form-control" />
                <span asp-validation-for="Atendimento.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Descrição" class="form-control-label"></label>
                <input asp-for="Atendimento.Descrição" class="form-control" />
                <span asp-validation-for="Atendimento.Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atendimento.Solucao" class="form-control-label"></label>
                <input asp-for="Atendimento.Solucao" class="form-control" />
                <span asp-validation-for="Atendimento.Solucao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
